.CarrouselElt{
    width: 100%;
    height: 25vh;
    position: relative;  
    z-index: 5;
    margin-bottom: 3%;
}
/* .CarrouselElt:hover{
    width: 100%;
    height: 35vh;
    position: relative;  
    z-index: 5;
} */
.CarrouselElt:nth-child(0){
    margin-top:25px;
}
.CarrouTitle{
    text-align: left;
    margin: 0.8% 5.5%;
    
}
.CarrouselElt button{
    border: none;
    background-color: transparent;
    z-index: 100;
}
.CarrouselContainer{
    width: 80%;
   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin:0 5%
}
.Ressource{
    position: relative;
    width: 19.7%;
    background-color: rgb(127, 148, 255);
    height: 80%;
    color: white;
}
.Prev{  
    left: 1%;
}
.Next{  
    right: 1%;
}
.Prev, .Next{
    position: absolute;
    top:50%;
    font-size: xx-large;
    color: rgb(1, 92, 237);
}

.hoverFilm{
    position: absolute;
    width: 100%;
    top:0;
     height: 100%;
    color: transparent;
    
    }
    .hoverFilm h3,.hoverFilm p{
        margin-top: 5%;
        z-index: 3;
    }
    .hoverFilm p{
        margin-bottom: 20%;
    }
    .hoverFilm:hover{
      
      position: absolute;
      width: 100%;    
      top:0;
     height: 100%;
     color:White;
     background-color: rgba(128, 128, 128, 0.426);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
    }