.aligneG { text-align: left; }
.aligneD { text-align: right; }
.w100p { width: 100%; }
.fondLogin { background-color: black; height: 333px; }
.sépar-100px { height: 90px; }
.text-bold { font-weight: bold; }
