.wrapper { position: relative; }
.vidéoàmoi { 
    position: absolute; 
    /* left: 20%; */
    /* top: 12%; */
    /* width: 60%; */
    height: auto;
}
.imageCadre { z-index: 2; position: relative; }

.downloading { z-index: 4; position: absolute; width: 60%; top:72%; left:20%; }
